# Auto detect text files
* text=auto

# Large files (won't be stored in git)
*.traineddata binary
*.traineddata linguist-generated
*.lstmf binary
*.checkpoint binary
*.tif binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.csv binary